<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Typofast</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/{{style}}" />
  </head>
  <body>
    <div class="right-corner">
    <div class="mode" id="mode" onclick="toggle()">
      <i class="fa-solid fa-circle-half-stroke"></i>
      <p class="switch" id="switch" onclick="toggle()">switch mode</p>
    </div>
   
  </div>
    <div class="logout">
      <a href="http://localhost:2500">Logout</a>
    </div>
    <div class="containers">
      <div class="left_container">
        <div class="name">
        <h1>About &nbsp;<span id="typofast">Typo<span 
            class="f">F</span>ast</span><span class="icon">&nbsp;&nbsp;
            <i class="fa-regular fa-keyboard"></i></span></span></h1>
      </div>
      <div class="content">

    <div class="section1">
            TypoFast: Elevate Your Typing Speed Skills
    </div>
     
<div class="section2">
Welcome to TypoFast, your go-to destination for enhancing your typing speed and accuracy. Our innovative platform is designed to help users of all skill levels master the art of typing with precision and swiftness. Whether you're a beginner aiming to improve your typing proficiency or an advanced typist looking to refine your skills further, TypoFast has something for everyone.
</div>

<div class="section3">
At TypoFast, we understand the importance of efficient typing in today's fast-paced digital world. From workplace productivity to academic excellence, typing speed plays a pivotal role in various spheres of life. Our comprehensive suite of engaging exercises, interactive challenges, and tailored lessons will guide you through a progressive journey towards becoming a typing maestro.

<div class="section4">
  Note:- Intermediate and Expert levels are not active currently.
</div>
</div>


    </div>
    </div>
      <div id="right_container">
        <div class="rightL">
           <div class="right">
            <a href="https://ujjwal13818.github.io/reacttypofast1/">Beginner's Level</a>
           </div>
           <div class="rightd">
            <a href="#"></a> Extreme Level
           </div>
        </div>

        <div class="rightR">
            <div class="right">
                <a href="#"></a> Intermediate Level
            </div>
            <div class="rightd" style="color: rgb(212, 42, 70);">
                <a href="https://ujjwal13818.github.io/reacttypofast/" >Special for coders.</a>
            </div>
        </div>
      </div>
    </div>
    <script>
    function toggle() {
    const font = document.getElementById("right_container");
    const mode = document.getElementById("mode");
    const sw = document.getElementById("switch");
    const typofast = document.getElementById("typofast");
  if (document.body.style.backgroundColor === "white") {
    document.body.style.backgroundColor = "Black";
    document.body.style.color = "rgb(227, 224, 224)";
    mode.style.color = "white";
    sw.style.color = "white";
   
  } else {
    document.body.style.backgroundColor = "white";
    document.body.style.color = "Black";
    mode.style.color = "black";
    sw.style.color = "black";
    document.body.style.color = "green";
   }
    }
    </script>
  </body>
</html>
