<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="css/{{style}}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="title">
        Sign Up to<span></span> <span 
        class="typofast">Typo<span class="f">F</span>ast</span><span class="icon">&nbsp;&nbsp;<i><span><span>
</div>
<div class="signup-container">
    <form action="/signup" method="post">
    <h1>Sign Up</h1>
    <div class="input-group">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Enter your name">
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="pass" name="password" placeholder="Make your password">
    </div>
    <div class="captcha-container">
        
        <div class="captcha">
          <div id="cap" style="user-select: none;"></div>
           <div id="refresh" onclick="generate()" style="float: right;"><i class="fa-solid fa-arrows-rotate"></i></div>
        </div>
        <input type="text" id="captcha" name="captcha" placeholder="Enter CAPTCHA" required autocomplete="off">
    </div>
      <button type="submit" class="submit-btn" id="submit" onclick="valid()">Sign up</button>
  </form>
</div>
      <script>
         const btn = document.getElementById("submit");
    const body = document.querySelector("body");
    const ref = document.getElementById("refresh");
    body.addEventListener(onload,generate());
    function generate(){
        const cap = document.getElementById("cap");
        var temp = "";
        var random = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789kugkg"
        for(let i = 0 ; i < 5 ; i++){
            temp += random.charAt(Math.random()*random.length);
        }
        cap.innerText = temp;   
    }
   function valid(){  
        const val = document.getElementById("captcha");
        if(val.value === cap.innerText){
            console.log(cap.innerText)
        }
        else {
            alert("Enter correct captcha");
            val.value = "";
            location.reload();
    }
}
   </script>
  
</body>
</html>


